<% if current_page?(new_letter_of_credit_path) %>
  <div class="bg-primary-800 p-4 text-lg" id="new-title">
    <span class="text-white">Upload New LC</span>
    <%= link_to letter_of_credits_path do %>
      <i class="fas fa-window-close float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate" data-tippy-content="Close"></i>
    <% end %>
  </div>
<% end %>
<div class="bg-white border-b border-gray-300 p-6" id="lc-form">
  <%= form_with(model: letter_of_credit) do |form| %>
    <%= render "shared/error_messages", resource: form.object %>

    <div class="flex flex-row flex-wrap" id="disable-input" data-target="input.disable">
      <div class="form-group w-full lg:w-1/5 md:w-1/4 sm:w-1/2 mr-4 flex-grow disable-input">
        <%= form.label :lc_number %>
        <%= form.text_field :lc_number, class: "form-control" %>
      </div>

      <div class="form-group w-full lg:w-1/5 md:w-1/4 sm:w-1/2 mr-4 flex-grow">
        <%= form.label :expiry_date %>
        <%= form.text_field :expiry_date,
                            data: {
                                controller: "flatpickr",
                                flatpickr_alt_format: t("date.formats.long"),
                                flatpickr_alt_input: true,
                            }, class: "form-control" %>
      </div>

      <div class="form-group w-full lg:w-1/5 md:w-1/4 sm:w-1/2 mr-4 flex-grow">
        <%= form.label :currency_id %>
        <%= collection_select(:letter_of_credit, :currency_id, Currency.all, :id, :code, {}, {class: "form-control"}) %>
      </div>

      <div class="form-group w-full lg:w-1/5 md:w-1/4 sm:w-1/2 mr-4 flex-grow">
        <%= form.label :amount %>
        <%= form.number_field :amount, class: "form-control" %>
      </div>

      <div class="form-group w-full lg:w-1/5 md:w-1/4 sm:w-1/2 mr-4 flex-grow">
        <%= form.label :client_id %>
        <%= collection_select(:letter_of_credit, :client_id, current_team.clients, :id, :name, {}, {class: "form-control"}) %>
      </div>

      <div class="form-group w-full lg:w-1/5 md:w-1/4 sm:w-1/2 mr-4 flex-grow">
        <%= form.label :comment %>
        <%= form.text_field :comment, class: "form-control" %>
      </div>

      <div class="form-group w-full lg:w-1/5 md:w-1/4 sm:w-1/2 mr-4 flex-grow">
        <%= form.label :files %>
        <%= form.file_field :files, accept: 'image/png,image/jpeg,application/pdf,text/plain', multiple: true, direct_upload: true, class: "form-control" %>
      </div>

      <% if @letter_of_credit.files.attached? %>
        <% @letter_of_credit.files.each do |fl| %>
          <%= form.hidden_field :files, multiple: true, value: fl.signed_id %>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-row flex-wrap bg-gray-300 p-4">
      <div class="w-full text-gray-700py-1">
        <p class="px-2 py-1 uppercase text-xs">Attachments</p>
      </div>
      <div class="text-sm py-1">
        <% if @letter_of_credit.files.count == 0 %>
          <span class="bg-white rounded-full p-1 m-2 text-sm"><%= @letter_of_credit.files.count %></span>
        <% else %>
          <% @letter_of_credit.files.each do |file| %>
            <span class="mx-2"><%= link_to file.filename, file, target: :blank %></span>
            <% if current_page?(edit_letter_of_credit_path) %>
              <%= link_to 'X', delete_file_attachment_letter_of_credit_url(file.signed_id),
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-group w-full flex justify-between mt-4">
      <%= form.button class: "btn btn-primary w-" %>

      <% if form.object.persisted? %>
        <%= link_to 'Delete', form.object, class: "btn btn-danger outline", method: :delete, remote: true, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  <% end %>
</div>

