<div class="lg:w-5/12 md:w-5/12 w-full mx-6 mb-4 shadow-sm hover:shadow-xl bg-white" id="lc-item<%= letter_of_credit.id %>">
  <div class="px-2 py-1 text-lg bg-primary-800">
    <span class="text-white uppercase text-sm font-bold"><%= letter_of_credit.lc_number %></span>
    <%= link_to letter_of_credit_path(letter_of_credit), remote: true, method: :delete, data: {confirm: 'LC and all associated data will be deleted, Are you sure?'}, class: 'delete' do %>
      <i class="fas fa-trash-alt float-right mt-1 text-white hover:text-yellow-500 rotate"></i>
    <% end %>
    <%= link_to edit_letter_of_credit_path(letter_of_credit) do %>
      <i class="fas fa-pencil-alt float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate"></i>
    <% end %>
    <%= link_to letter_of_credit_path(letter_of_credit) do %>
      <i class="fas fa-search-plus float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate"></i>
    <% end %>
  </div>
  <div class="flex flex-row flex-wrap border-b border-gray-300">
    <div class="w-1/3 text-gray-700 text-sm py-1">
      <span class="mx-2 uppercase text-xs">Expiry</span>
    </div>
    <div class="w-2/3 text-sm py-1">
      <span class="mx-2"><%= letter_of_credit.expiry_date.strftime("%d-%b-%Y") if letter_of_credit.expiry_date %></span>
    </div>
  </div>
  <div class="flex flex-row flex-wrap border-b border-gray-300">
    <div class="w-1/3 text-gray-700 text-sm py-1">
      <span class="mx-2 uppercase text-xs">Amount</span>
    </div>
    <div class="w-2/3 text-sm py-1">
      <span class="mx-2"><%= letter_of_credit.currency.code %> <%= letter_of_credit.amount %></span>
    </div>
  </div>
  <div class="flex flex-row flex-wrap border-b border-gray-300">
    <div class="w-1/3 text-gray-700 text-sm py-1" style="height: 15vh">
      <span class="mx-2 uppercase text-xs">Comment</span>
    </div>
    <div class="w-2/3 text-sm py-1" style="height: 15vh; overflow-y: scroll">
      <span class="mx-2"><%= letter_of_credit.comment %></span>
    </div>
  </div>
  <div class="flex flex-row flex-wrap text-sm">
    <p class="px-2 py-1 uppercase text-xs text-gray-700">Attachments
      <% if letter_of_credit.files.count == 0 %>
        <span class="bg-white rounded-full p-1 m-2"><%= letter_of_credit.files.count %></span>
      <% else %>
        <% letter_of_credit.files.each do |file| %>
          <%= link_to file, target: :blank do %>
            <span><i class="fas fa-paperclip m-1 text-teal-500 hover:text-red-500" data-tippy-content="<%= file.filename %>"></i></span>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>