<div class="my-8 px-4">
  <div class="max-w-2xl mx-auto">
    <div class="flex justify-end items-center mb-4">
      <%= link_to 'Back', letter_of_credits_path, class: "btn btn-link" %> </h1>
      <%= link_to 'Edit', edit_letter_of_credit_path(@letter_of_credit), class: "btn btn-link" %>
    </div>
    <div class="w-full shadow-xl">
      <div class="bg-primary-800 p-4 text-lg">
        <span class="text-white uppercase"><%= @letter_of_credit.lc_number %></span>
        <%= link_to letter_of_credit_path(@letter_of_credit), method: :delete, data: {confirm: 'LC and all associated data will be deleted, Are you sure?'} do %>
          <i class="fas fa-trash-alt float-right mt-1 text-white hover:text-yellow-500 rotate"></i>
        <% end %>
        <%= link_to edit_letter_of_credit_path(@letter_of_credit) do %>
          <i class="fas fa-pencil-alt float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate"></i>
        <% end %>
        <%= link_to letter_of_credit_path(@letter_of_credit) do %>
          <i class="fas fa-search-plus float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate"></i>
        <% end %>
      </div>
      <div class="flex flex-row flex-wrap bg-white border-b border-gray-300 p-4">
        <div class="w-full text-gray-700 py-1">
          <span class="mx-2 uppercase text-xs">LC Number</span>
        </div>
        <div class="text-sm py-1">
          <span class="mx-2"><%= @letter_of_credit.lc_number %></span>
        </div>
      </div>
      <div class="flex flex-row flex-wrap bg-white border-b border-gray-300 p-4">
        <div class="w-full text-gray-700 py-1">
          <span class="mx-2 uppercase text-xs">Expiry</span>
        </div>
        <div class="text-sm py-1">
          <span class="mx-2"><%= @letter_of_credit.expiry_date %></span>
        </div>
      </div>
      <div class="flex flex-row flex-wrap bg-white border-b border-gray-300 p-4">
        <div class="w-full text-gray-700 py-1">
          <span class="mx-2 uppercase text-xs">Client</span>
        </div>
        <div class="text-sm py-1">
          <span class="mx-2"><%= @letter_of_credit.client %></span>
        </div>
      </div>
      <div class="flex flex-row flex-wrap bg-white border-b border-gray-300 p-4">
        <div class="w-full text-gray-700 py-1">
          <span class="mx-2 uppercase text-xs">Comment</span>
        </div>
        <div class="text-sm py-1">
          <span class="mx-2"><%= @letter_of_credit.comment %></span>
        </div>
      </div>
      <div class="flex flex-row flex-wrap bg-white border-b border-gray-300 p-4">
        <div class="w-full text-gray-700 py-1">
          <span class="mx-2 uppercase text-xs">User</span>
        </div>
        <div class="text-sm py-1">
          <span class="mx-2"><%= @letter_of_credit.user.first_name %></span>
        </div>
      </div>
      <div class="flex flex-row flex-wrap bg-white border-b border-gray-300 p-4">
        <div class="w-full text-gray-700py-1">
          <span class="mx-2 uppercase text-xs">Team</span>
        </div>
        <div class="text-sm py-1">
          <span class="mx-2"><%= @letter_of_credit.team.name %></span>
        </div>
      </div>
      <div class="flex flex-row flex-wrap bg-gray-300 p-4">
        <div class="w-full text-gray-700py-1">
        <p class="px-2 py-1 uppercase text-xs">Attachments</p>
        </div>
        <div class="text-sm py-1">
          <% if @letter_of_credit.files.count == 0 %>
            <span class="bg-white rounded-full p-1 m-2 text-sm"><%= @letter_of_credit.files.count %></span>
          <% else %>
            <% @letter_of_credit.files.each do |file| %>
              <span class="mx-2"><%= link_to file.filename, file, target: :blank %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
</div>