<div class="lg:w-5/12 md:w-5/12 w-full mx-6 mb-4 shadow-sm hover:shadow-xl bg-white" id="client-item<%= client.id %>">
  <div class="bg-primary-800 px-2 py-1 text-lg">
    <span class="text-white uppercase text-sm font-bold">Client No. <%= client.id %></span>
    <%= link_to client_path(client), remote: true, method: :delete, data: {confirm: 'Client and all associated data will be deleted, Are you sure?'}, class: 'delete' do %>
      <i class="fas fa-trash-alt float-right mt-1 text-white hover:text-yellow-500 rotate"></i>
    <% end %>
    <%= link_to edit_client_path(client) do %>
      <i class="fas fa-pencil-alt float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate"></i>
    <% end %>
    <%= link_to client_path(client) do %>
      <i class="fas fa-search-plus float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate"></i>
    <% end %>
  </div>
  <div class="flex flex-row flex-wrap border-b border-gray-300">
    <div class="w-1/3 text-gray-700 text-sm py-1">
      <span class="mx-2">Name</span>
    </div>
    <div class="w-2/3 text-sm py-1">
      <span class="mx-2"><%= client.name %></span>
    </div>
  </div>
</div>