<div class="flex flex-wrap flex-row">
  <%= render partial: "shared/main_navbar" %>
  <div class="lg:w-10/12 md:w-12/12 w-full bg-gray-300">
    <div class="my-4">
      <% if @clients.exists? %>
        <div class="flex justify-center items-center bg-primary-800 fixed bottom-0 right-0 m-8 h-16 w-16 rounded-full shadow-xl" id="new-client-button">
          <%= link_to new_client_path, remote: true, class: "text-5xl" do %>
            <i class="fas fa-plus-circle text-white hover:text-yellow-500 rotate" data-tippy-content="Create New Client"></i>
          <% end %>
        </div>
        <div class="shadow-xl m-6" id="new-client">
        </div>
        <div class="flex flex-wrap" id="client-list">
          <%= render @clients %>
          <% if @pagy.pages > 1 %>
            <div class="text-center my-6">
              <%== pagy_nav(@pagy) %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="flex flex-col items-center justify-center p-8 lg:flex-row" style="height: 90vh;">
          <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
          <div class="flex-1 text-center">
            <p class="h3 mb-4">Create your first Client</p>
            <%= link_to 'New Client', new_client_path, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
